body {
  min-height: 100vh;
  background-color: #f4ecd8;
  color: #5b4636;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6em;
  font-size: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  display: block;
}

textarea {
  resize: none;
}

input[type='submit'] {
  background-color: #f4ecd8;
  border: 2px solid #5b4636;
  padding: 5px 10px;
  cursor: pointer;
}

.content {
  margin-top: 2em;
  max-width: 800px;
}

.date {
  font-size: 0.7em;
  margin: 0;
}

.content .post {
  margin-top: 0.2em;
  max-width: 300px;
}

.votes {
  margin-left: 5px;
}

.upvote,
.downvote {
  background: transparent;
  border: none;
  font-weight: bold;
  display: block;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #5b4636;
}

.left {
  display: inline-block;
}

.right {
  display: inline-block;
  margin-left: 30px;
}
